html.dark body {
    @apply bg-gradient-to-r from-shiraz-700 via-shiraz-600 to-plum-700 text-white min-h-screen font-sans bg-fixed;
}

html.light body {
    @apply bg-gradient-to-br from-plum via-shiraz-600 to-shiraz text-black min-h-screen font-sans bg-fixed;
}

html {
    @apply bg-plum-500;
}

.dark .slug-content {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 50%, theme('colors.plum.600') 50%, theme('colors.plum.600') 100%);
}

.light .slug-content {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}
