/**
 * ----------------------
 * Config - Typography
 * ----------------------
 */

// Web fonts
$font-dir: "../fonts";

@font-face {
    font-family: "DM Serif Text";
    src: url("#{$font-dir}/DMSerifText-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "DM Serif Text";
    src: url("#{$font-dir}/DMSerifText-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("#{$font-dir}/DMSans-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/**
 * ----------------------
 * Base - Typography
 * ----------------------
 */

/**
 * Config
 */

/**
 * Headings
 */

.h1 {
  @apply text-3xl;
}

.h2 {
  @apply text-2xl;
}

.h3 {
  @apply text-xl;
}

.h4 {
  @apply text-lg;
}

.h5 {
  @apply text-base;
}

.h6 {
  @apply text-sm;
}

/**
 * Links
 */
// a,
// button {
//   @apply text-inherit
//     text-xs;
// }

em {
  @apply font-serif;
}

strong {
  @apply font-bold;
}

hr {
  @apply border-t-4;
}

.content {
  @for $i from 2 through 6 {
    h#{$i} {
      @apply font-serif ;
    }
  }
  h2 {
    @apply text-base
  }
  h3 {
    @apply text-sm;
  }
  p strong {
    @apply font-bold text-sm;
  }
  > * + * {
    @apply mt-4;
  }
  ul {
    @apply flex flex-col space-y-2 list-none;

    li {
      @apply ml-4 pl-4 list-none relative;

      &:after {
        @apply content-[''] absolute top-0 left-0 w-1.5 h-1.5 translate-y-2.5 bg-shiraz-500;
      }
    }
  }
  p a {
    @apply relative font-serif;
    @screen lg {
      &:after {
        content: "";
        @apply w-full h-px bg-current absolute top-full left-1/2 -translate-x-1/2 transition-all duration-300;
      }
      &:hover:after {
        @apply w-1;
      }
    }
  }


}
